#formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: aqua;
    padding: 10px;
    
}

button:hover{
    /* background-color: blue; */
    scale: 1.05;
}

#painelDinos{
    background-color: #df9482;
    margin-top: 20px;
    min-height: 150px;
}

.cardGenerico{
    border: 1px solid #000000;
    padding: 10px;
    margin: 5px 0;
    width: 300px;
}

.listaDinos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}